/* reset */
:root {
  font-size: 62.5%; // 62.5% = 10px
  --black: #000000;
  --white: #f7f7f7;
  --dark-grey: #1e1e1e;
  --green: #00EF00;
  --yellow: #FFEC05;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background: var(--dark-grey);
}

ul, a {
  list-style: none;
  text-decoration: none;
  display: flex;
}

h1, p, a {
  color: var(--white);
}

h1 {
  font-size: min(6vw, 3.2rem);
}

p {
  font-size: min(3vw, 2.2rem);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1.2rem;
}

.title .contrast {
  color: var(--yellow);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 3.4rem;
  margin-top: 2.2rem;
}

@media (max-width: 768px) { 
  main {
    flex-direction: column;
  }
}

main .image {
  background: var(--white);
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main img {
  border-radius: 30%;
}

main ul {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

main ul li {
  display: flex;
  gap: 0 1.2rem;
  align-items: center;
}

.ph-bold.ph-check {
  color: var(--green);
  font-size: 5rem;
}

.button {
  width: 100%;
  margin: 5.7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-buy {
  cursor: pointer;
  background: linear-gradient(to bottom, #00EF00, rgba(0, 255, 0, 0.2632));
  box-shadow: 0px -4px 50px -1px rgba(255,255,255,1);
  color: var(--white);
  font-weight: bold;
  font-size: 4.4rem;
  border: none;
  border-radius: 4rem;
  width: 50vw;
  padding: .5rem 0;
  margin-bottom: 1rem;
  transition: all .2s ease;
}

.btn-buy:hover {
  background: linear-gradient(to top, #00EF00, rgba(0, 255, 0, 0.2632));
}

.btn-buy:active {
  background: linear-gradient(to bottom, #00EF00, rgba(0, 255, 0, 0.2632));
}

@media (max-width: 768px) { 
  .btn-buy {
    width: 90vw;
  }
}

.wrap {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.beneficios {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) { 
  .beneficios {
    flex-direction: column;
  }
}

.beneficios h1:first-child {
  font-size: min(6vw, 9.6rem);
}

.beneficios-card .first {
  border: none;
}

.beneficios-card {
  width: 45rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) { 
  .beneficios-card {
    max-width: 90vw;
  }
}

.beneficios-card img {
  object-fit: cover;
  border-radius: 50%;
  border: .6rem solid var(--yellow);
}

.beneficios-card h1 {
  font-size: min(6vw, 2.2rem);
}

.test {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

.depoimentos-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.depoimentos-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 43rem;
  text-align: left;
}

.depoimentos-card img {
  border-radius: 50%;
  object-fit: cover
}

footer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(30,30,30,1), rgba(0,0,0,1) 40%);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 913px) {
  footer .footer-wrapper {
    flex-direction: column;
  }
}

footer .footer-text p {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.ph-bold.ph-instagram-logo {
  color: #fff;
  font-size: 5rem;
}